.form-container {
    padding: 30px;
}
.alert{
    margin: 10px;
}
.template-variable-category{
    cursor: pointer;
    font-size: 18px;
}
.template-variable{
    cursor: pointer;
}

.template-variable:hover{
    background-color: #f7fafc;
}
.template-variable-container{
    margin-bottom: 10px;
}

.color {
    border: 2px solid black;
    border-radius: 5px;
}

.deletedProduct {
    background-color: coral;
}

* {box-sizing: border-box}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: auto;
}


.tablinks{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.row{
    margin: 0 !important;
}
.item-container{
    margin: 15px 0 5px 0;
}

.item-img img{
    max-width: 75px;
    width: 75px;
    max-height: 75px;
    height: 75px;
}

.podsumowanie{
    text-align: center;
    margin: 70px 42% 15px 42%;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
}

#hideDate{
    background-color: #a0aec0;
    width: 168px;
    height: 46px;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.strzalka{
    transform: rotate(-180deg);
}
